.imaged-panel div.ui-panel-titlebar { height: 30px;} 
.imaged-panel div.ui-panel-titlebar span.ui-panel-title { margin: 0px;} 

.edit-input.wide-text { width: 320px; }
.edit-input.medium-text { width: 200px; }
.edit-input.short-text { width: 100px; }
.edit-input.date-text .hasDatepicker { width: 80px; }

#headerContent {z-index:20 !important; }
#headerContent div{overflow:visible;}

.ui-layout-container {background-color: #545454;} #body
.ui-layout-resizer-closed_ {background-color: #B6061A;}

.ui-menuitem-text_ { color: #B6061A;}

.ui-state-hover_ {background-color: #B6061A !important;} 

.ui-menuitem-link.ui-corner-all.ui-state-hover {
    background-color: #B6061A !important; background: red;
}
         
.calendarSpan { white-space:nowrap; }          
.calendarSpan input[type=text] { width: 70px; }
.calendarSpan .ui-datepicker-trigger { width: 20px; }

.sliderPanel .ui-accordion-content { padding: 0px !important; }

.sliderGrid { vertical-align: top; }

.filterSelectorList { width: 95% !important;} 
.filterSelectorList .ui-selectlistbox-listcontainer {height: 120px !important; }

#docListForm:docTable {}

.rf-true .ui-chkbox-label { background-color: rgba(182, 6, 26, 0.5); width: 500px;}

.usergetmessage {  background-color: rgba(182, 6, 26, 1) !important; }
.usergetmessage>a.ui-submenu-link { color: yellow !important; }

.usergetmessage .messagemenu { color: yellow !important; }

.ui-state-highlight {  box-shadow: 0 0 8px #B6061A !important;  color: yellow !important; } 

.noBorderedPgrid tr, .noBorderedPgrid td {
    border: none !important;
}

.editorPanel .ui-panel-title_ {margin: 0 !important; margin-bottom:  10px !important; }
.headerDiv img.headerIcon {  margin-bottom: -10px; }
 
table.editorTable td { vertical-align: top;} 

div.editorNoteContainer { 
	/* background-image: url(#{resource['paper_back4.png']});
	background-position: -110px 98px; */
	padding-left: 10px; padding-bottom: 10px; 
} 

div.editorNoteContainer .removeIcon { margin-left: 5px; margin-bottom: 15px; }
.editorNote { border: 1px; border-radius: 10px; -moz-border-radius: 10px; background-color: #ffffbb !important; margin-bottom: -5px;}

.extraCell {background-color: #ffff00!important; color: black !important;}